// Typography
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

$google-font-family: 'Poppins', sans-serif;
$system-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

$font-choice: google; // 'system' or 'google'

@mixin font-family {
  @if $font-choice == system {
    font-family: $system-font-family;
  } @else if $font-choice == google {
    font-family: $google-font-family;
  } @else {
    font-family: $system-font-family;
  }
}

// Test theme
// $accent: navajoWhite;
// $on-accent: #fff;
// $background: #222;
// $on-background-primary: #d45087;
// $on-background-secondary: magenta;
// $on-background-border: lime;
// $surface: cyan;
// $on-surface-primary: red;
// $on-surface-secondary: orange;
// $on-surface-border: blue;
// $error: yellow;

// Light theme
// $accent: #1a73e8;
// $on-accent: #fff;
// $background: #f8f9fa;
// $on-background-primary: #202124;
// $on-background-secondary: #5f6368;
// $on-background-border: #dadce0;
// $surface: #fff;
// $on-surface-primary: #202124;
// $on-surface-secondary: #5f6368;
// $on-surface-border: #dadce0;
// $error: #dc3545;
// $success: #198754;

// Dark theme
$accent: #8ab4f8;
$on-accent: #202124;
$background: #202124;
$on-background-primary: #e8eaed;
$on-background-secondary: #9aa0a6;
$on-background-border: #5f6368;
$surface: #303134;
$on-surface-primary: #e8eaed;
$on-surface-secondary: #9aa0a6;
$on-surface-border: #5f6368;
$error: #dc3545;
$success: #198754;

// Links
$link-color: currentcolor;
$link-decoration: underline;
$link-hover-color: currentcolor;
$link-hover-decoration: none;