// Test theme
// $accent: #ffdead;
// $on-accent: #ffffff;
// $background: #222222;
// $on-background-primary: #d45087;
// $on-background-secondary: #ff00ff;
// $on-background-border: #32cd32;
// $surface: #00ffff;
// $on-surface-primary: #ff0000;
// $on-surface-secondary: #ffa500;
// $on-surface-border: #0000ff;
// $error: #ffff00;
// $success: #198754;

// Dark theme
// $accent: #8ab4f8;
// $on-accent: #202124;
// $background: #202124;
// $on-background-primary: #e8eaed;
// $on-background-secondary: #9aa0a6;
// $on-background-border: #5f6368;
// $surface: #303134;
// $on-surface-primary: #e8eaed;
// $on-surface-secondary: #9aa0a6;
// $on-surface-border: #5f6368;
// $error: #dc3545;
// $success: #198754;

// Links
$link-color: currentcolor;
$link-decoration: underline;
$link-hover-color: currentcolor;
$link-hover-decoration: none;