@import "settings";

// Typescale
//
#jl-root h1,
#jl-root .jl-text-size-h1,
#jl-root h2,
#jl-root .jl-text-size-h2,
#jl-root h3,
#jl-root .jl-text-size-h3,
#jl-root h4,
#jl-root .jl-text-size-h4,
#jl-root p,
#jl-root .jl-text-size-p,
#jl-root small,
#jl-root .jl-text-size-small {
  @include font-family;
  margin: 0;
  font-weight: 400;
}

#jl-root h1,
#jl-root .jl-text-size-h1 {
  font-size: 32px;
  line-height: 40px;
}

#jl-root h2,
#jl-root .jl-text-size-h2 {
  font-size: 24px;
  line-height: 28px;
}

#jl-root h3,
#jl-root .jl-text-size-h3 {
  font-size: 20px;
  line-height: 24px;
}

#jl-root h4,
#jl-root .jl-text-size-h4 {
  font-size: 16px;
  line-height: 20px;
}

#jl-root p,
#jl-root .jl-text-size-p {
  font-size: 16px;
  line-height: 24px;
}

#jl-root small,
#jl-root .jl-text-size-small {
  font-size: 12px;
  line-height: 16px;
}

// Global
//
#jl-root {
  background-color: $background;
}

#jl-root button,
#jl-root a {
  &:focus {
    outline: 2px solid $accent;
    outline-offset: 1px;
    transition: outline-offset 0s,outline 0s;
  }
}

// Job List Component
//
#jl-root .jl-job-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  li:not(:last-child) {
    margin-bottom: 16px;
  }
}

// Job Item Component
//
#jl-root .jl-job-item {
  &__link {
    background-color: $surface;
    border: 1px solid $on-background-border;
    display: block;
    will-change: transform;
    transition: transform 200ms ease-out;
    &:hover {
      transform: translateX(-4px);
      .jl-job-item__title {
        color: $accent;
      }
    }
  }
  &__table {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 12px 0;
    @media (max-width: 767px) {
      display: block;
    }
  }
  &__row {
    display: table-row;
    @media (max-width: 767px) {
      display: block;
      // Clearfix
      &::after {
        display: block;
        clear: both;
        content: "";
      }
    }
  }
  &__job {
    display: table-cell;
    width: 35%;
    border-inline-end: 1px solid $on-surface-border;
    padding: 0 12px;
    @media (max-width: 767px) {
      width: 100%;
      display: block;
      margin-bottom: 12px;
      border-width: 0;
    }
  }
  &__title {
    color: $on-surface-primary;
    transition: color 200ms ease-out;
    font-weight: 600;
    margin-bottom: 4px;
  }
  &__subtitle {
    color: $on-surface-secondary;
  }
  &__category {
    overflow: hidden;
    vertical-align: top;
    display: table-cell;
    width: 25%;
    border-inline-end: 1px solid $on-surface-border;
    color: $on-surface-primary;
    padding: 0 12px;
    @media (max-width: 767px) {
      width: 100%;
      display: block;
      padding-bottom: 12px;
      margin-bottom: 12px;
      border-inline-end-width: 0;
      border-bottom: 1px solid $on-surface-border;
    }
  }
  &__location {
    overflow: hidden;
    vertical-align: top;
    display: table-cell;
    width: 20%;
    border-inline-end: 1px solid $on-surface-border;
    color: $on-surface-primary;
    padding: 0 12px;
    position: relative;
    & > svg {
      position: absolute;
      top: 0;
      inset-inline-start: 12px;
      transform: translateY(-2px);
      fill: $on-surface-secondary;
    }
    & div {
      padding-inline-start: 32px;
    }
    @media (max-width: 767px) {
      width: 50%;
      display: block;
      float: left;
      border-width: 0;
    }
  }
  &__type {
    overflow: hidden;
    vertical-align: top;
    display: table-cell;
    width: 20%;
    color: $on-surface-primary;
    padding: 0 12px;
    @media (max-width: 767px) {
      width: 50%;
      display: block;
      float: right;
    }
  }
}

// Multiple Component
//
#jl-root .jl-multiple {
  &__count-clear {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  &__search {
    margin-bottom: 16px;
  }
  &__count {
    text-align: center;
    @include font-family;
    font-weight: 400;
    color: $on-background-primary;
    strong {
      font-weight: 600;
    }
  }
  &__clear {
    @include font-family;
    font-weight: 400;
    height: 44px;
    color: $accent;
    border-radius: 0;
    border: none;
    padding: 0;
    background: none;
    &:hover {
      text-decoration: underline;
    }
  }
  &__pagination {
    &_top {
      margin-bottom: 12px;
      @media (max-width: 767px) {
        margin-bottom: 16px;
      }
    }
    &_bottom {
      margin-top: 16px;
    }
  }
  &__header {
    display: flex;
    span {
      color: $on-background-secondary;
      text-transform: uppercase;
      padding: 0 12px 12px;
    }
    span:nth-child(1) {
      width: 35%;
    }
    span:nth-child(2) {
      width: 25%;
    }
    span:nth-child(3) {
      width: 20%;
    }
    span:nth-child(4) {
      width: 20%;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
  &__filters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-bottom: 16px;
    @media (max-width: 767px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

// Single Component
//
#jl-root .jl-single {
  &__header {
    padding-bottom: 32px;
    display: flex;
    column-gap: 80px;
    border-bottom: 1px solid $on-background-border;
    &-left {
      width: 75%;
      @media (max-width: 767px) {
        width: 100%;
        margin-bottom: 32px;
      }
    }
    &-right {
      width: 25%;
      @media (max-width: 767px) {
        width: 100%;
      }
    }
    @media (max-width: 767px) {
      flex-direction: column;
    }
  }
  &__title {
    color: $on-background-primary;
    font-weight: 600;
    margin-bottom: 8px;
  }
  &__subtitle {
    color: $on-background-secondary;
  }
  &__apply {
    all: unset;
    margin-top: 12px;
    cursor: pointer;
    user-select: none;
    background-color: $accent;
    @include font-family;
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    padding: 16px;
    width: 100%;
    display: inline-block;
    color: $on-accent;
    text-align: center;
    transition: transform 200ms ease-out;
    &:hover {
      background-color: darken($accent, 5%);
    }
    @media (max-width: 767px) {
      width: auto;
      margin-top: 0;
      padding: 16px 32px;
    }
  }
  &__body {
    display: flex;
    column-gap: 80px;
    padding-top: 20px;
    padding-bottom: 16px;
    border-bottom: 1px solid $on-background-border;
    &-left {
      width: 75%;
      @media (max-width: 767px) {
        width: 100%;
      }
    }
    &-right {
      width: 25%;
      @media (max-width: 767px) {
        width: 100%;
      }
    }
    @media (max-width: 767px) {
      flex-direction: column;
      padding-bottom: 32px;
    }
  }
  &__content {
    color: $on-background-primary;
    h2 {
      font-size: 24px;
      line-height: 28px;
      font-weight: 400;
      padding-top: 12px;
      margin-bottom: 16px;
    }
    h3 {
      font-size: 20px;
      line-height: 24px;
      font-weight: 400;
      padding-top: 12px;
      margin-bottom: 16px;
    }
    h4 {
      font-size: 16px;
      line-height: 20px;
      font-weight: 400;
      padding-top: 12px;
      margin-bottom: 16px;
    }
    p {
      font-size: 16px;
      line-height: 24px;
      font-weight: 300;
      margin-bottom: 16px;
    }
    ul, ol {
      margin-bottom: 16px;
    }
    li {
      @include font-family;
      font-size: 16px;
      line-height: 24px;
      font-weight: 300;
    }
    a {
      color: $accent;
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__back-to-listing {
    display: inline-flex;
    align-items: center;
    @include font-family;
    font-weight: 400;
    height: 44px;
    color: $accent;
    margin-top: 16px;
    &:hover {
      text-decoration: underline;
    }
    svg {
      margin-inline-end: 8px;
      fill: $accent;
    }
  }
}

#jl-root .jl-job-details {
  border-bottom: 1px solid $on-background-border;
  padding-bottom: 16px;
  &__title {
    padding-top: 12px;
    padding-bottom: 16px;
    color: $on-background-primary;
  }
  &__category {
    padding-bottom: 16px;
    h3 {
      font-weight: 600;
      color: $on-background-primary;
    }
    div {
      font-weight: 300;
      color: $on-background-primary;
    }
  }
  @media (max-width: 767px) {
    border-top: 1px solid $on-background-border;
    padding-top: 20px;
    margin-top: 16px;
  }
}

#jl-root .jl-share {
  padding-top: 16px;
  &__title {
    padding-top: 16px;
    padding-bottom: 16px;
    color: $on-background-primary;
  }
  &__container {
    display: flex;
    column-gap: 16px;
    button {
      transition: transform 200ms ease-out;
      &:hover {
        transform: scale(1.05);
      }
      &:focus {
        border-radius: 0;
      }
    }
    svg {
      display: block;
    }
  }
}

// Select Component
//
#jl-root .jl-select {
  &__control {
    cursor: pointer;
    border-color: $on-background-border;
    border-radius: 0;
    background-color: $surface;
    &--is-focused {
      box-shadow: none;
      outline: 2px solid $accent!important;
      outline-offset: 1px;
      transition: outline-offset 0s,outline 0s;
    }
  }
  &__placeholder {
    @include font-family;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: $on-surface-secondary;
  }
  &__option {
    @include font-family;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    background-color: $surface;
    color: $on-surface-primary;
    border-inline-start: 3px solid transparent;
    cursor: pointer;
    &--is-focused {
      background-color: darken($surface, 5%);
      border-inline-start: 3px solid $accent;
    }
  }
  &__value-container {
    padding: 5px 8px;
  }
  &__indicator-separator {
    background-color: $on-surface-border;
  }
  &__indicator {
    padding: 11px;
    > svg {
      fill: $accent;
    }
  }
  &__multi-value__label {
    @include font-family;
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    background-color: darken($surface, 5%);
    color: $on-surface-primary;
    border-radius: 0;
  }
  &__menu {
    border-radius: 0;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  }
  &__menu-notice {
    @include font-family;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    background-color: $surface;
    color: $on-surface-primary;
  }
  &__menu-list {
    padding: 0;
  }
}

// Search Component
//
#jl-root .jl-search {
  &__label {
    position: relative;
    & > svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      inset-inline-start: 8px;
      fill: $on-surface-secondary;
    } 
  }
  &__input {
    appearance: none;
    outline: 0;
    border: none;
    border-radius: 0;
    text-indent: 40px;
    padding: 9px 0;
    padding-inline-end: 8px;
    @include font-family;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: $on-surface-primary;
    border: 1px solid $on-background-border;
    background-color: $surface;
    &:focus {
      outline: 2px solid $accent;
      outline-offset: 1px;
      transition: outline-offset 0s,outline 0s;
    }
    &::placeholder {
      @include font-family;
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      color: $on-surface-secondary;
    }
  }
}

// Pagination Component
//
#jl-root .jl-pagination {
  display: flex;
  justify-content: space-between;
  &__numbers {
    display: flex;
    align-items: center;
    button {
      @media (max-width: 767px) {
        height: 28px;
        width: 28px;
      }
      @media (max-width: 400px) {
        display: none;
      }
    }
  }
  &__fraction {
    display: none;
    color: $on-background-primary;
    @include font-family;
    font-weight: 400;
    @media (max-width: 400px) {
      display: inline-block;
    }
  }
  &__control {
    background-color: $background;
    border: none;
    border-radius: 0;
    color: $on-background-primary;
    margin: 0 4px;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    @include font-family;
    font-weight: 400;
    height: 44px;
    width: 44px;
    &:hover {
      background-color: darken($background, 5%);
    }
    &_ellipsis {
      color: $on-background-secondary;
      &:hover {
        background-color: transparent;
      }
    }
    &_active {
      color: $accent;
    }
  }
  &__arrow {
    border: 1px solid $on-background-border;
    fill: $on-background-primary;
    margin: 0;
    transition: opacity 200ms ease-out;
    &:disabled {
      opacity: 0;
    }
    &_prev {
      margin-inline-end: 4px;
    }
    &_next {
      margin-inline-start: 4px;
    }
  }
}

// Form Component
#jl-root .jl-form {
  border: 1px solid $on-background-border;
  padding: 32px;
  max-width: 440px;
  margin-top: 32px;
  &__title {
    text-align: center;
    margin-bottom: 16px;
    color: $on-background-primary;
  }
  &__subtitle {
    text-align: center;
    color: $on-background-primary;
    margin-bottom: 16px;
    font-weight: 300;
  }
  &__required {
    margin-bottom: 16px;
    color: $on-background-secondary;
    text-align: center;
  }
  &__captcha-wrapper {
    margin-bottom: 20px;
    background-color: $surface;
    border: 1px solid $on-background-border;
    &  div > div > div {
      margin: 0 auto;
    }
  }
  &__submit {
    all: unset;
    cursor: pointer;
    user-select: none;
    background-color: $accent;
    @include font-family;
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    box-sizing: border-box;
    padding: 16px;
    width: 100%;
    display: inline-block;
    color: $on-accent;
    text-align: center;
    &:hover {
      background-color: darken($accent, 5%);
    }
  }
  @media (max-width: 767px) {
    padding: 16px;
  }
}

// Input Component
//
#jl-root .jl-input {
  margin-bottom: 16px;
  &__label {
    color: $on-background-primary;
    margin-bottom: 4px;
  }
  &__helper {
    margin-top: 4px;
    color: $on-background-secondary;
  }
  &__control {
    appearance: none;
    outline: 0;
    border: none;
    display: block;
    border-radius: 0;
    padding: 9px 8px;
    @include font-family;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: $on-surface-primary;
    border: 1px solid $on-background-border;
    background-color: $surface;
    width: 100%;
    &:focus {
      outline: 2px solid $accent;
      outline-offset: 1px;
      transition: outline-offset 0s,outline 0s;
    }
  }
  &__error {
    color: $error;
    margin-top: 4px;
  }
}

// Checkbox Component
//
#jl-root .jl-checkbox {
  position: relative;
  z-index: 1;
  display: inline-block;
  min-height: 24px;
  padding-left: 24px;
  margin-bottom: 20px;
  &__control {
    position: absolute;
    inset-inline-start: 0;
    z-index: -1;
    width: 16px;
    height: 24px;
  }
  &__label {
    color: $on-background-primary;
    a {
      color: $on-background-primary;
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__error {
    color: $error;
    margin-top: 4px;
  }
}

// No Jobs Found Component
#jl-root .jl-no-jobs-found {
  text-align: center;
  &__emoji {
    @include font-family;
    font-size: 200px;
    color: $on-background-primary;
    margin-bottom: 12px;
    @media (max-width: 767px) {
      font-size: 100px;
    }
    @media (max-width: 575px) {
      font-size: 64px;
    }
  }
  &__text {
    margin-bottom: 8px;
    color: $on-background-primary;
  }
  &__clear {
    @include font-family;
    font-weight: 400;
    height: 44px;
    color: $accent;
    border-radius: 0;
    border: none;
    padding: 0;
    background: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

// RTL-specific
//
html[dir="rtl"] #jl-root {
  .jl-job-item {
    &__location {
      @media (max-width: 767px) {
        float: right;
      }
    }
    &__type {
      @media (max-width: 767px) {
        float: left;
      }
    }
  }
  .jl-pagination {
    &__arrow {
      > svg {
        transform: scaleX(-1);
      }
    }
  }
}

// Helpers
//
.jl-visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}