// Typescale
//
#jbls-root h1,
#jbls-root .jbls-text-size-h1,
#jbls-root h2,
#jbls-root .jbls-text-size-h2,
#jbls-root h3,
#jbls-root .jbls-text-size-h3,
#jbls-root h4,
#jbls-root .jbls-text-size-h4,
#jbls-root p,
#jbls-root .jbls-text-size-p,
#jbls-root small,
#jbls-root .jbls-text-size-small {
  font-family: var(--jbls-google-font-family);
  margin: 0;
  font-weight: 400;
}

#jbls-root h1,
#jbls-root .jbls-text-size-h1 {
  font-size: 32px;
  line-height: 40px;
}

#jbls-root h2,
#jbls-root .jbls-text-size-h2 {
  font-size: 24px;
  line-height: 28px;
}

#jbls-root h3,
#jbls-root .jbls-text-size-h3 {
  font-size: 20px;
  line-height: 24px;
}

#jbls-root h4,
#jbls-root .jbls-text-size-h4 {
  font-size: 16px;
  line-height: 20px;
}

#jbls-root p,
#jbls-root .jbls-text-size-p {
  font-size: 16px;
  line-height: 24px;
}

#jbls-root small,
#jbls-root .jbls-text-size-small {
  font-size: 12px;
  line-height: 16px;
}

// Global
//
#jbls-root {
  background-color: var(--jbls-background);
}

#jbls-root *,
#jbls-root *::before,
#jbls-root *::after {
  box-sizing: border-box;
}

#jbls-root * { 
  margin: 0;
}

#jbls-root button,
#jbls-root a {
  cursor: pointer;
  &:focus {
    outline: 2px solid var(--jbls-accent);
    outline-offset: 1px;
    transition: outline-offset 0s, outline 0s;
  }
}

// Dot Flashing Loader
//
#jbls-root .jbls-dot-flashing {
  position: relative;
  margin: 0 auto;
  width: 16px;
  height: 16px;
  border-radius: 8px;
  background-color: var(--jbls-accent);
  color: var(--jbls-accent);
  animation: jbls-dot-flashing 1s infinite linear alternate;
  animation-delay: 0.5s;
  &::before, &::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0;
  }
  &::before {
    left: -24px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: var(--jbls-accent);
    color: var(--jbls-accent);
    animation: jbls-dot-flashing 1s infinite alternate;
    animation-delay: 0s;
  }
  &::after {
    left: 24px;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: var(--jbls-accent);
    color: var(--jbls-accent);
    animation: jbls-dot-flashing 1s infinite alternate;
    animation-delay: 1s;
  }
  @keyframes jbls-dot-flashing {
    0% {
      background-color: var(--jbls-accent);
    }
    50%, 100% {
      background-color: rgba(var(--jbls-accent), 0.2);
    }
  }
}

// Job List Component
//
#jbls-root .jbls-job-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  li:not(:last-child) {
    margin-bottom: 16px;
  }
}

// Job Item Component
//
#jbls-root .jbls-job-item {
  &__link {
    text-decoration: none;
    background-color: var(--jbls-surface);
    border: 1px solid var(--jbls-on-background-border);
    display: block;
    will-change: transform;
    transition: transform 200ms ease-out;
    &:hover {
      transform: translateX(-4px);
      .jbls-job-item__title {
        color: var(--jbls-accent);
      }
    }
  }
  &__table {
    display: table;
    table-layout: fixed;
    width: 100%;
    padding: 12px 0;
    @media (max-width: 767px) {
      display: block;
    }
  }
  &__row {
    display: table-row;
    @media (max-width: 767px) {
      display: block;
      // Clearfix
      &::after {
        display: block;
        clear: both;
        content: "";
      }
    }
  }
  &__job {
    display: table-cell;
    width: 35%;
    border-inline-end: 1px solid var(--jbls-on-surface-border);
    padding: 0 12px;
    @media (max-width: 767px) {
      width: 100%;
      display: block;
      margin-bottom: 12px;
      border-width: 0;
    }
  }
  &__title {
    color: var(--jbls-on-surface-primary);
    transition: color 200ms ease-out;
    font-weight: 600;
    margin-bottom: 4px;
  }
  &__subtitle {
    color: var(--jbls-on-surface-secondary);
  }
  &__category {
    overflow: hidden;
    vertical-align: top;
    display: table-cell;
    width: 25%;
    border-inline-end: 1px solid var(--jbls-on-surface-border);
    color: var(--jbls-on-surface-primary);
    padding: 0 12px;
    @media (max-width: 767px) {
      width: 100%;
      display: block;
      padding-bottom: 12px;
      margin-bottom: 12px;
      border-inline-end-width: 0;
      border-bottom: 1px solid var(--jbls-on-surface-border);
    }
  }
  &__location {
    overflow: hidden;
    vertical-align: top;
    display: table-cell;
    width: 20%;
    border-inline-end: 1px solid var(--jbls-on-surface-border);
    color: var(--jbls-on-surface-primary);
    padding: 0 12px;
    position: relative;
    & > svg {
      position: absolute;
      top: 0;
      inset-inline-start: 12px;
      transform: translateY(-2px);
      fill: var(--jbls-on-surface-secondary);
    }
    & div {
      padding-inline-start: 32px;
    }
    @media (max-width: 767px) {
      width: 50%;
      display: block;
      float: left;
      border-width: 0;
    }
  }
  &__type {
    overflow: hidden;
    vertical-align: top;
    display: table-cell;
    width: 20%;
    color: var(--jbls-on-surface-primary);
    padding: 0 12px;
    @media (max-width: 767px) {
      width: 50%;
      display: block;
      float: right;
    }
  }
}

// Multiple Component
//
#jbls-root .jbls-multiple {
  &__count-clear {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
  }
  &__search {
    margin-bottom: 16px;
  }
  &__count {
    text-align: center;
    font-family: var(--jbls-google-font-family);
    font-weight: 400;
    color: var(--jbls-on-background-primary);
    strong {
      font-weight: 600;
    }
  }
  &__clear {
    font-family: var(--jbls-google-font-family);
    font-weight: 400;
    height: 44px;
    color: var(--jbls-accent);
    border-radius: 0;
    border: none;
    padding: 0;
    background: none;
    &:hover {
      text-decoration: underline;
    }
  }
  &__pagination {
    &_top {
      margin-bottom: 12px;
      @media (max-width: 767px) {
        margin-bottom: 16px;
      }
    }
    &_bottom {
      margin-top: 16px;
    }
  }
  &__header {
    display: flex;
    span {
      color: var(--jbls-on-background-secondary);
      text-transform: uppercase;
      padding: 0 12px 12px;
    }
    span:nth-child(1) {
      width: 35%;
    }
    span:nth-child(2) {
      width: 25%;
    }
    span:nth-child(3) {
      width: 20%;
    }
    span:nth-child(4) {
      width: 20%;
    }
    @media (max-width: 767px) {
      display: none;
    }
  }
  &__filters {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
    margin-bottom: 16px;
    @media (max-width: 767px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}

// Single Component
//
#jbls-root .jbls-single {
  &__header {
    padding-bottom: 32px;
    display: flex;
    column-gap: 80px;
    border-bottom: 1px solid var(--jbls-on-background-border);
    &-left {
      width: 75%;
      @media (max-width: 767px) {
        width: 100%;
        margin-bottom: 32px;
      }
    }
    &-right {
      width: 25%;
      @media (max-width: 767px) {
        width: 100%;
      }
    }
    @media (max-width: 767px) {
      flex-direction: column;
    }
  }
  &__title {
    color: var(--jbls-on-background-primary);
    font-weight: 600;
    margin-bottom: 8px;
  }
  &__subtitle {
    color: var(--jbls-on-background-secondary);
  }
  &__apply {
    all: unset;
    box-sizing: border-box;
    margin-top: 12px;
    cursor: pointer;
    user-select: none;
    background-color: var(--jbls-accent);
    font-family: var(--jbls-google-font-family);
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    padding: 16px;
    width: 100%;
    display: inline-block;
    color: var(--jbls-on-accent);
    text-align: center;
    transition: filter 200ms ease-in-out;
    &:hover {
      filter: brightness(90%);
    }
    @media (max-width: 767px) {
      width: auto;
      margin-top: 0;
      padding: 16px 32px;
    }
  }
  &__body {
    display: flex;
    column-gap: 80px;
    padding-top: 20px;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--jbls-on-background-border);
    &-left {
      width: 75%;
      @media (max-width: 767px) {
        width: 100%;
      }
    }
    &-right {
      width: 25%;
      @media (max-width: 767px) {
        width: 100%;
      }
    }
    @media (max-width: 767px) {
      flex-direction: column;
      padding-bottom: 32px;
    }
  }
  &__content {
    color: var(--jbls-on-background-primary);
    h2 {
      font-size: 24px;
      line-height: 28px;
      font-weight: 400;
      padding-top: 12px;
      margin-bottom: 16px;
    }
    h3 {
      font-size: 20px;
      line-height: 24px;
      font-weight: 400;
      padding-top: 12px;
      margin-bottom: 16px;
    }
    h4 {
      font-size: 16px;
      line-height: 20px;
      font-weight: 400;
      padding-top: 12px;
      margin-bottom: 16px;
    }
    p {
      font-size: 16px;
      line-height: 24px;
      font-weight: 300;
      margin-bottom: 16px;
    }
    ul, ol {
      margin-bottom: 16px;
    }
    li {
      font-family: var(--jbls-google-font-family);
      font-size: 16px;
      line-height: 24px;
      font-weight: 300;
    }
    a {
      color: var(--jbls-accent);
      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  &__back-to-listing {
    display: inline-flex;
    align-items: center;
    font-family: var(--jbls-google-font-family);
    font-weight: 400;
    height: 44px;
    color: var(--jbls-accent);
    margin-top: 16px;
    &:hover {
      text-decoration: underline;
    }
    svg {
      margin-inline-end: 8px;
      fill: var(--jbls-accent);
    }
  }
}

#jbls-root .jbls-job-details {
  border-bottom: 1px solid var(--jbls-on-background-border);
  padding-bottom: 16px;
  &__title {
    padding-top: 12px;
    padding-bottom: 16px;
    color: var(--jbls-on-background-primary);
  }
  &__category {
    padding-bottom: 16px;
    h3 {
      font-weight: 600;
      color: var(--jbls-on-background-primary);
    }
    div {
      font-weight: 300;
      color: var(--jbls-on-background-primary);
    }
  }
  @media (max-width: 767px) {
    border-top: 1px solid var(--jbls-on-background-border);
    padding-top: 20px;
    margin-top: 16px;
  }
}

#jbls-root .jbls-share {
  padding-top: 16px;
  &__title {
    padding-top: 16px;
    padding-bottom: 16px;
    color: var(--jbls-on-background-primary);
  }
  &__container {
    display: flex;
    flex-wrap: wrap;
    row-gap: 16px;
    column-gap: 16px;
    button {
      will-change: transform;
      transition: transform 200ms ease-out;
      &:hover {
        transform: scale(1.05);
      }
      &:focus {
        border-radius: 0;
      }
    }
    svg {
      display: block;
    }
  }
}

// Select Component
//
#jbls-root .jbls-select {
  min-width: 0;
  &__control {
    cursor: pointer;
    border-color: var(--jbls-on-background-border);
    border-radius: 0;
    background-color: var(--jbls-surface);
    &--is-focused {
      box-shadow: none;
      outline: 2px solid var(--jbls-accent)!important;
      outline-offset: 1px;
      transition: outline-offset 0s, outline 0s;
    }
  }
  &__placeholder {
    font-family: var(--jbls-google-font-family);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--jbls-on-surface-secondary);
  }
  &__option {
    font-family: var(--jbls-google-font-family);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    background-color: var(--jbls-surface);
    color: var(--jbls-on-surface-primary);
    border-inline-start: 3px solid transparent;
    cursor: pointer;
    &--is-focused {
      filter: brightness(90%);
      border-inline-start: 3px solid var(--jbls-accent);
    }
  }
  &__value-container {
    padding: 5px 8px;
  }
  &__indicator-separator {
    background-color: var(--jbls-on-surface-border);
  }
  &__indicator {
    padding: 11px;
    > svg {
      fill: var(--jbls-accent);
    }
  }
  &__multi-value {
    margin: 2px;
    &__label {
      font-family: var(--jbls-google-font-family);
      font-size: 16px;
      line-height: 1;
      font-weight: 400;
      color: var(--jbls-on-surface-primary);
      border-radius: 0;
    }
  }
  &__menu {
    border-radius: 0;
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
  }
  &__menu-notice {
    font-family: var(--jbls-google-font-family);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    background-color: var(--jbls-surface);
    color: var(--jbls-on-surface-primary);
  }
  &__menu-list {
    padding: 0;
  }
}

// Search Component
//
#jbls-root .jbls-search {
  &__label {
    position: relative;
    & > svg {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      inset-inline-start: 8px;
      fill: var(--jbls-on-surface-secondary);
    } 
  }
  &__input {
    width: 100%;
    appearance: none;
    outline: 0;
    border: none;
    border-radius: 0;
    text-indent: 40px;
    padding: 9px 0;
    padding-inline-end: 8px;
    font-family: var(--jbls-google-font-family);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--jbls-on-surface-primary);
    border: 1px solid var(--jbls-on-background-border);
    background-color: var(--jbls-surface);
    &:focus {
      outline: 2px solid var(--jbls-accent);
      outline-offset: 1px;
      transition: outline-offset 0s, outline 0s;
    }
    &::placeholder {
      font-family: var(--jbls-google-font-family);
      font-size: 16px;
      line-height: 24px;
      font-weight: 400;
      color: var(--jbls-on-surface-secondary);
    }
  }
}

// Pagination Component
//
#jbls-root .jbls-pagination {
  display: flex;
  justify-content: space-between;
  &__numbers {
    display: flex;
    align-items: center;
    button {
      @media (max-width: 767px) {
        height: 28px;
        width: 28px;
      }
      @media (max-width: 400px) {
        display: none;
      }
    }
  }
  &__fraction {
    display: none;
    color: var(--jbls-on-background-primary);
    font-family: var(--jbls-google-font-family);
    font-weight: 400;
    @media (max-width: 400px) {
      display: inline-block;
    }
  }
  &__control {
    transition: filter 200ms ease-in-out;
    background-color: var(--jbls-background);
    border: none;
    border-radius: 0;
    color: var(--jbls-on-background-primary);
    margin: 0 4px;
    padding: 0;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-family: var(--jbls-google-font-family);
    font-weight: 400;
    height: 44px;
    width: 44px;
    &:hover {
      filter: brightness(90%);
    }
    &_ellipsis {
      color: var(--jbls-on-background-secondary);
      cursor: auto;
      &:hover {
        filter: none;
      }
    }
    &_active {
      color: var(--jbls-accent);
    }
  }
  &__arrow {
    border: 1px solid var(--jbls-on-background-border);
    fill: var(--jbls-on-background-primary);
    margin: 0;
    &:disabled {
      opacity: 0;
    }
    &_prev {
      margin-inline-end: 4px;
    }
    &_next {
      margin-inline-start: 4px;
    }
  }
}

// Form Component
//
#jbls-root .jbls-form {
  border: 1px solid var(--jbls-on-background-border);
  padding: 32px;
  max-width: 440px;
  margin-top: 32px;
  &__title {
    text-align: center;
    margin-bottom: 16px;
    color: var(--jbls-on-background-primary);
  }
  &__subtitle {
    text-align: center;
    color: var(--jbls-on-background-primary);
    margin-bottom: 16px;
    font-weight: 300;
  }
  &__required {
    margin-bottom: 16px;
    color: var(--jbls-on-background-secondary);
    text-align: center;
  }
  &__captcha-wrapper {
    margin-bottom: 20px;
    background-color: var(--jbls-surface);
    border: 1px solid var(--jbls-on-background-border);
    &  div > div > div {
      margin: 0 auto;
    }
  }
  &__submit {
    all: unset;
    cursor: pointer;
    user-select: none;
    transition: filter 200ms ease-in-out;
    background-color: var(--jbls-accent);
    font-family: var(--jbls-google-font-family);
    font-size: 16px;
    line-height: 1;
    font-weight: 400;
    box-sizing: border-box;
    padding: 16px;
    width: 100%;
    display: inline-block;
    color: var(--jbls-on-accent);
    text-align: center;
    &:hover {
      filter: brightness(90%);
    }
  }
  @media (max-width: 767px) {
    padding: 16px;
  }
}

// Input Component
//
#jbls-root .jbls-input {
  margin-bottom: 16px;
  &__label {
    color: var(--jbls-on-background-primary);
    margin-bottom: 4px;
  }
  &__helper {
    margin-top: 4px;
    color: var(--jbls-on-background-secondary);
  }
  &__control {
    appearance: none;
    outline: 0;
    border: none;
    display: block;
    border-radius: 0;
    padding: 9px 8px;
    font-family: var(--jbls-google-font-family);
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: var(--jbls-on-surface-primary);
    border: 1px solid var(--jbls-on-background-border);
    background-color: var(--jbls-surface);
    width: 100%;
    &:focus {
      outline: 2px solid var(--jbls-accent);
      outline-offset: 1px;
      transition: outline-offset 0s, outline 0s;
    }
  }
  &__error {
    color: var(--jbls-error);
    margin-top: 4px;
  }
}

// Checkbox Component
//
#jbls-root .jbls-checkbox {
  position: relative;
  z-index: 1;
  display: inline-block;
  min-height: 24px;
  padding-left: 24px;
  margin-bottom: 20px;
  &__control {
    position: absolute;
    inset-inline-start: 0;
    z-index: -1;
    width: 16px;
    height: 24px;
  }
  &__label {
    color: var(--jbls-on-background-primary);
    a {
      color: var(--jbls-on-background-primary);
      text-decoration: underline;
      &:hover {
        text-decoration: none;
      }
    }
  }
  &__error {
    color: var(--jbls-error);
    margin-top: 4px;
  }
}

// No Jobs Found Component
//
#jbls-root .jbls-no-jobs-found {
  text-align: center;
  &__emoji {
    font-family: var(--jbls-google-font-family);
    font-size: 200px;
    color: var(--jbls-on-background-primary);
    line-height: 1.2;
    margin-bottom: 12px;
    @media (max-width: 767px) {
      font-size: 100px;
    }
    @media (max-width: 575px) {
      font-size: 64px;
    }
  }
  &__text {
    margin-bottom: 8px;
    color: var(--jbls-on-background-primary);
  }
  &__clear {
    font-family: var(--jbls-google-font-family);
    font-weight: 400;
    height: 44px;
    color: var(--jbls-accent);
    border-radius: 0;
    border: none;
    padding: 0;
    background: none;
    &:hover {
      text-decoration: underline;
    }
  }
}

// Success Component
//
#jbls-root .jbls-success {
  text-align: center;
  &__emoji {
    font-family: var(--jbls-google-font-family);
    font-size: 100px;
    color: var(--jbls-success);
    line-height: 1.2;
    margin-bottom: 12px;
    @media (max-width: 575px) {
      font-size: 64px;
    }
  }
  &__text {
    color: var(--jbls-success);
  }
}

// RTL-specific
//
html[dir="rtl"] #jbls-root {
  .jbls-job-item {
    &__location {
      @media (max-width: 767px) {
        float: right;
      }
    }
    &__type {
      @media (max-width: 767px) {
        float: left;
      }
    }
  }
  .jbls-pagination {
    &__arrow {
      > svg {
        transform: scaleX(-1);
      }
    }
  }
}

// Helpers
//
.jbls-visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}